

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:title" content="Personal Portfolio">
      <meta property="og:description" content="My Personal Portfolio">
      <meta property="og:url" content="{{ url }}">
  
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  
      <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
      <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
      <title>Experiences</title>
  </head>
  
  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/" class="nav-logo">
          <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" />
        </a>
        <nav class="nav-links">
          <a href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('hobbies') }}">Hobbies</a>
          <a href="{{ url_for('experiences') }}">Experience</a>
          <a href="{{ url_for('education') }}">Education</a>
          <a href="{{ url_for('timeline') }}">Timeline</a>
        </nav>
      </div>
    </header>
  
    <div class="neo-profile">
      <div class="neo-profile-picture">
        <img src="./static/img/ProfilePic.jpeg" alt="Profile Picture">
      </div>
      <h1 class="neo-profile-title">Arbab's Professional Experiences</h1>
    </div>
      <div class="experiences-container">
        <div class="experiences-text">
          <h1>Professional Experiences</h1>
        </div>
      
        <div class="experiences-list">
          {% for job in experiences %}
            <div class="experience-card">
              <h3>{{ job.title }} @ {{ job.company }}</h3>
              <span class="duration">{{ job.duration }}</span>
              {% for bullet in job.bullets %}
                <p>{{ bullet }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      
  
      
  </body>
  </html>