

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:title" content="Personal Portfolio">
      <meta property="og:description" content="My Personal Portfolio">
      <meta property="og:url" content="{{ url }}">
  
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  
      <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
      <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
      <title>Experiences</title>
  </head>
  
  <body>
      <header class="nav-bar">
          <div class="nav-content">
              <a href="/">
                  <div class="nav-logo">
                      <img src="./static/img/logo.svg" />
                  </div>
              </a>
          </div>
      </header>
  
      <div class="profile">
          <div id="profile-picture" class="profile-picture">
              <img src="./static/img/ProfilePic.jpeg">
          </div>
          <h1>Arbab's Experiences</h1>
      </div>
      <div class="experiences-container">
        <div class="experiences-text">
          <h1>Professional Experiences</h1>
        </div>
    
        <div class="experiences-list">
          <div class="experience-card">
            <h3>SRE Fellow @ Meta x MLH</h3>
            <span class="duration">June 2025 - Present</span>
            <p>Incoming Meta x MLH site reliability fellow</p>
            
          </div>
    
          <div class="experience-card">
            <h3>Software Engineer Intern @ IT Services LLC</h3>
            <span class="duration">July 2024 - August 2024</span>
            <p>Led development of an AI chatbot using Groq API with Llama 3.1, tailored for K-12 math tutoring.</p>

            <p>Integrated GTTS for text-to-speech with 5 voices and 3 accents, enhancing accessibility for users.</p>

            <p>Worked on backend integration with MongoDB and REST APIs to store and retrieve chat history efficiently.</p>

          </div>
    
          <div class="experience-card">
            <h3>Computer Aide Intern @ Con Edison</h3>
            <span class="duration">Dec 2022 - May 2025</span>
            <p>Coordinated and assigned over 5,000 CM/PM work orders using IBM Maximo, ensuring alignment with scope and unit outages.</p>

            <p>Optimized complex SQL queries in Maximo to extract and analyze 100K+ records, improving planning and decision-making.</p>

            <p>Built a custom Power App with Power Automate to send automated emails, cutting processing time by 20%.</p>

            <p>Automated Excel data tasks with VBA, reducing manual work by 75% and significantly boosting accuracy.</p>

          </div>
    
          
        </div>
      </div>
  
      
  </body>
  </html>