<!DOCTYPE html>
  <html lang="en">
  
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:title" content="Personal Portfolio">
      <meta property="og:description" content="My Personal Portfolio">
      <meta property="og:url" content="{{ url }}">
  
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  
      <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
      <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
      <title>Hobbies</title>
  </head>
  
  <body>
      <header class="nav-bar">
          <div class="nav-content">
              <a href="/">
                  <div class="nav-logo">
                      <img src="./static/img/logo.svg" />
                  </div>
              </a>
          </div>
      </header>
  
      <div class="profile">
          <div id="profile-picture" class="profile-picture">
              <img src="./static/img/ProfilePic.jpeg">
          </div>
          <h1>Arbab's Hobbies</h1>
      </div>
      <div class="hobbies-container">
        <div class="hobbies-text">
          <h1>My Hobbies & Interests 🌟</h1>
          <p>
            Outside of programming and tech, I love staying active, curious, and creative. Here are some things I enjoy doing in my free time:
          </p>
        </div>
    
        <div class="hobbies-list">
          <div class="hobby-card">
            <h3>⚽ Soccer</h3>
            <p>
              I've been passionate about soccer since I was a kid. My favorite team is FC Barcelona and my all time favorite player is Andres Iniesta. I set aside time to play soccer with my friends almost every week.
            </p>
          </div>
    
          <div class="hobby-card">
            <h3>🏋️ Calisthenics</h3>
            <p>
              Training with my bodyweight helps me build strength and discipline. I also enjoy working out outdoors in jungle gyms just because it doesn't feel suffocating. I'm currently in the midst of recovering from some shoulder injuries and slowly working back up to my normal routine.
            </p>
          </div>
    
          <div class="hobby-card">
            <h3>📺 Binging TV Shows and Movies</h3>
            <p>
              I unwind with shows every night. I mostly enjoy thrillers but I have recently started exploring other genres.
            </p>
          </div>
    
          <div class="hobby-card">
            <h3>🎧 Music & Podcasts</h3>
            <p>
              Whether I'm working out, coding, or walking, I always have a playlist or podcast running in the background.
            </p>
          </div>
        </div>
      </div>
  
      
  </body>
  </html>